--model_name=mobilenetv3large
--input_size=224
--input_scale_mode=uint8
--base_model_weights=PATH_TO_BE_CONFIGURED/base_model.h5
--freeze_base_model
--sampling_strategy=sqrt
--batch_size=64
--epochs=12
--optimizer=adamw
--lr=1e-5
--weight_decay=1e-7
--use_cosine_decay
--warmup_epochs=1.0
--loss_fn=sce
--ra_num_layers=2
--ra_magnitude=9
--train_json=PATH_TO_BE_CONFIGURED/snapshot_serengeti_images_20211210ufam_train.json
--val_json=PATH_TO_BE_CONFIGURED/snapshot_serengeti_images_20211210ufam_minival.json
--dataset_dir=PATH_TO_BE_CONFIGURED/
--random_seed=42
